@font-face {
  font-family: 'PT Sans';
    src: url('../fonts/PT_Sans-Web-Bold.ttf')  format('truetype'),
	url('../fonts/PT_Sans-Web-BoldItalic.ttf')  format('truetype'),
	url('../fonts/PT_Sans-Web-Italic.ttf')  format('truetype'),
	url('../fonts/PT_Sans-Web-Regular.ttf')  format('truetype')
}

.dismissal-form {
	background: #f0f0f0;
	min-height: 100%;
	height: auto;
	max-height: 999999px;

	.container {
		margin: 0 auto;
		padding: 0px 20px;
		position: relative;
		min-height: 100%;
		height: auto !important;
		width: 96%;
		max-width: 1000px;
	}


	.header {
		height: 100px;
		background: #ffffff;
		box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);

        .header__link {
            display: block;
        }

		.logo {
			float: left;
			padding: 0;
			margin: 15px 0 0;
			width: 100%;
		    height: 70px;
		    background: url(../images/perekrestok.png) no-repeat 60% top;
		    margin-top: 23px;
		    background-position-x: 60%;

            background-position: center top;
            background-position-x: center;
            background-size: contain;
		}
	}
	.body {
		padding: 30px 0 40px 0;
		line-height: 18px;

        .body__loading{
            position: fixed;
        }

		.body_paragraphs{
			margin-top: 48px;

			.paragraph {
				margin-bottom: 32px;

				.paragraph__title {
					font-family: 'PT Sans';
					padding: 16px 4px;
					background-color: #e4e4be;
					margin-bottom: 16px;
					border-radius: 4px;
				}
				.paragraph__accent{
					color: #9a6f36;
				}
				.paragraph__body{
					.paragraph__control{
						display: block;
					}
				}
			}
		}
	}
    .footer {
        margin-bottom: 40px;
        height: 40px;

        .footer__submit-button{
            float: right;
        }
    }
}
