.app-container{
	background-color: #fff;
	box-shadow: 1px 1px 5px 0 #979797;

	.app-container__body {
		padding: 15px;
		background-color: #f7f7f7;
		min-height: 470px;
		color: #444;
		position: relative;

		.region-container{
			font-size: 15px;

			.region-container__icon{
				color: lighten(#ff8100, 30%);
				padding: 4px 0;
				cursor: pointer;
			}

			.region-container__title{
				padding-bottom: 4px;
				margin-bottom: 16px;
				font-size: 1.5em;
				color: #444;
				word-break: break-all;
			}
			.region__container-fields {
				.region-container__field-label{
					color: rgba(0,0,0,.5);
					clear: both;
					float: left;
					width: 135px;
					margin: 0 5px 10px 0;
				}
				.region-container__field-value{
					float: left;
    				margin: 0 0 10px;
				}

				.region-container__mor-name{

				}
				.region-container__sub-mor-name{

				}
				.region-container__container__sub-mor-alternate-date{

				}
				.region-container__container__sub-mor-alternate-creater-fullname{

				}
			}
		}
	}
}
