.app-container{
    margin-top: 48px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 1px 1px 5px 0 #979797;
    min-height: 500px;

    .app-container__body {
        margin-top: 24px;

        .app-container__link {
            color: rgb(111, 179, 210);
            text-decoration: none;

            &--active {
                text-decoration: underline;
            }
        }
        .app-container__menu {
            padding-left: 0;

            .app-container__menu-item {
                display: inline-block;
                margin-right: 24px;
            }
        }
    }
}
