@import 'media/media.phone*'

.app-container{
	min-width: 320px;
	width: 100vw;
	background-color: #f7f7f7;
	box-shadow: 1px 1px 5px 0 #979797;
	position: relative;

	.link {
		color: #077fcc;
	    text-decoration: none;
	    display: inline-block;
	    vertical-align: middle;
	    font-weight: 700;

		&--active {
			text-decoration: underline;
		}
	}

	.app-container__body {
		padding: 15px;
		min-height: 470px;
		color: #444;

		.region-container{
			font-size: 15px;
			padding: 15px;
			height: 100vh;

			.region-container__icon{
				color: lighten(#ff8100, 30%);
				padding: 4px 0;
				cursor: pointer;
			}

			.region-container__title{
				padding-bottom: 4px;
				margin-bottom: 32px;
				font-size: 1.5em;
				color: #444;
				word-break: break-word;
				line-height: 27px;
			}
			.region__container-fields {
				line-height: 27px;

				.region-container__field-label{
					color: rgba(0,0,0,.5);
					clear: both;
					float: left;
					width: 135px;
					margin: 0 5px 10px 0;
				}
				.region-container__field-value{
					float: left;
					word-break: break-word;
					max-width: 50%;
				}

				.region-container__mor-name{

				}
				.region-container__sub-mor-name{

				}
				.region-container__container__sub-mor-alternate-date{

				}
				.region-container__container__sub-mor-alternate-creater-fullname{

				}
			}

			.region-container__save-btn{
				margin-top: 24px;
			}
		}
	}
}
