
/* Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 736px) {
	.region__icon {
		background-image: url("../../../images/down-arrow-blue24.png") !important;
		display: block !important;
		height: 24px !important;
		width: 24px !important;
		margin: 0 !important;
		position: relative !important;
	    left: -16px !important;
		margin-top: -5px !important;
		margin-bottom: -5px !important;
	}
	.region__sub-mor-info {
		display: block !important;
		position: initial !important;
		width: auto !important;
    	margin-left: 0 !important;
	}
	.region__mor-name{
		padding-right: 40px !important;
		width: auto !important;
	}
}
