/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) {
    .region__icon {
		background-image: url("../../../images/down-arrow-24.png") !important;
		display: block !important;
		height: 24px !important;
		width: 24px !important;
		margin: 0 !important;
		position: relative !important;
	    left: -16px !important;
		margin-top: -5px !important;
		margin-bottom: -5px !important;
	}
	.region__sub-mor-info {
		display: block !important;
		position: initial !important;
		width: auto !important;
    	margin-left: 0 !important;
	}
	.region__mor-name{
		padding-right: 40px !important;
		width: auto !important;
	}
}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (orientation: portrait) {
    .region__icon {
		background-image: url("../../../images/down-arrow-24.png") !important;
		display: block !important;
		height: 24px !important;
		width: 24px !important;
		margin: 0 !important;
		position: relative !important;
	    left: -16px !important;
		margin-top: -5px !important;
		margin-bottom: -5px !important;
	}
	.region__sub-mor-info {
		display: block !important;
		position: initial !important;
		width: auto !important;
    	margin-left: 0 !important;
	}
	.region__mor-name{
		padding-right: 40px !important;
		width: auto !important;
	}
}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (orientation: landscape) {
    .region__icon {
		background-image: url("../../../images/down-arrow-24.png") !important;
		display: block !important;
		height: 24px !important;
		width: 24px !important;
		margin: 0 !important;
		position: relative !important;
	    left: -16px !important;
		margin-top: -5px !important;
		margin-bottom: -5px !important;
	}
	.region__sub-mor-info {
		display: block !important;
		position: initial !important;
		width: auto !important;
    	margin-left: 0 !important;
	}
	.region__mor-name{
		padding-right: 40px !important;
		width: auto !important;
	}
}
