/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) {
    .search-box {
  		width: 100%;
  	}
}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (orientation: portrait) {
    .search-box {
  		width: 100%;
  	}
}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (orientation: landscape) {
    .search-box {
  		width: 100%;
  	}
}
