
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
	.search-box {
		width: 100%;
	}
	.body-row__description {
		font-size: 11px;
	}
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) {
	.search-box {
  		width: 100%;
  	}
  	.body-row__description {
		font-size: 11px;
	}
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
	.search-box {
		width: 100%;
	}
	.body-row__description {
		font-size: 11px;
	}
}
