/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px){
	.search-box {
		width: 100%;
	}
	.body-row__description {
		font-size: 11px;
	}
}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (orientation: portrait) {
	.search-box {
		width: 100%;
	}
	.body-row__description {
		font-size: 11px;
	}
}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (orientation: landscape) {
	.search-box {
		width: 100%;
	}
	
	.body-row__description {
		font-size: 11px;
	}
}
