.home {
    .home__body {
        .home__link {
            color: rgb(111, 179, 210);
            text-decoration: none;

            &--active {
                text-decoration: underline;
            }
        }
        .home__menu {
            padding-left: 0;
            margin-top: 36px;

            .home__menu-item {
                display: inline-block;
                margin-right: 24px;
            }
        }
    }
}
