@import 'media/media.phone*'

.select-items {
	display: block;
	position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    top: 0;
	left: 0;
	border: 1px solid transparent;

	.select-item__footer{
		.select-item__footer-select-button{
			float: right;
		}
	}

	.select-items__paging {
		float: right;
		position: relative;
		z-index: 100;

		&--top{
			top: 30px;
		}
		&--bottom{
			top: 8px;
		}
	}

	.paging {
		.paging-icon {
			cursor: pointer;
			color: #ddd;

			&--active {
				color: #444;
			}
		}
	}

	.filters {
		margin-bottom: 16px;

		.filters__searchBar-input {
			background-color: #fff;
    		color: #000;
		}

		// .filters__paging {
		// 	display: inline-block;
		//     vertical-align: top;
		//     margin-left: 16px;
		//     float: right;
		//     text-align: right;
		//
		// 	.filters__paging-icon {
		// 		cursor: pointer;
		// 	}
		//
		// 	.page {
		// 		outline: 0;
		// 	    padding: 0;
		// 	    line-height: 29px;
		// 	    text-align: center;
		// 	    width: 70px;
		// 	    border: 1px solid #b6b6b6;
		// 	    margin-left: 5px;
		// 	}
		// 	.pages-count {
		// 		text-align: center;
		// 		display: inline-block;
		// 		width: 70px;
		// 		line-height: 29px;
		// 		font-size: 14.3px;
		// 		border: 1px solid #b6b6b6;
		// 		background-color: #eee;
		// 		border-left: none;
		// 		margin-right: 5px;
		// 	}
		// }

		.filters__notValid {
			border: 1px solid red;
		}
	}

	.selected-items {
		font-size: 13px;
		overflow-y: auto;
		overflow-x: hidden;
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: #f9f9f9;
		margin-top: 2px;

		.item {
			padding: 4px;
			position: relative;
			cursor: pointer;

			&:hover {
				background-color: #f2f2f2;
			}

			.item__button{
				width: 25.5px;
				font-size: 10px;
				margin-right: 7.5px;
			}

			.item__icon{
				width: 32px;
				display: inline-block;
			}

			.item__text {
				display: inline-block;
				width: calc(92% - 23px);
				cursor: pointer;
				vertical-align: middle;
			}
		}
	}

	.items-wrapper {
		position: relative;
		min-height: 200px;
		border-bottom: 1px solid #ccc;

		.items-wrapper__header {
			table-layout: fixed;
			border-bottom: 1px solid #ccc;
			text-align: left;
			padding-right: 42px;
			width: 100%;

			.header-row {
				cursor: default;

				th:first-child {
					width: 23px;
				}

				.header-row__col {
					padding: 8px 5px;
					cursor: pointer;
					position: relative;

					&:hover {
						background-color: #f2f2f2;
					}
					&:hover > .header-row__caret {
						display: inline-block;
					}
					.header-row__col-name {
						margin-right: 5px;
					}
					.header-row__caret {
						display: none;
						position: absolute;
						top: calc(50% - 2px);
					}
				}

			}
		}

		.items-wrapper__body {
			overflow-y: auto;
			overflow-x: hidden;
			margin: 8px 0;

			.items {
				border-spacing: 0;
    			border-collapse: collapse;
    			width: 100%;
    			table-layout: fixed;

				.items__body{
					font-size: 13px;
				}

				.body-row {
					cursor: pointer;

					& > td:first-child {
						width: 32px;
					}

					&:hover {
						background-color:#F2F2F2;
					}
					.body-row__col {
						padding: 8px 5px;
						word-break: break-word;
					}
					.body-row__icon{
						font-size: 13px;
						&--selected {
							color: green;
						}
					}
				}
			}
		}
	}
}
