
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
	.region__container-fields{
		font-size: 13px !important;
	}
	.region-container__field-label{
		width: 40% !important;
	}
	.region-container__field-value{
		width: 55% !important;
	}
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) {
	.region__container-fields{
		font-size: 13px !important;
	}
	.region-container__field-label{
		width: 40% !important;
	}
	.region-container__field-value{
		width: 55% !important;
	}
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
	.region__container-fields{
		font-size: 13px !important;
	}
	.region-container__field-label{
		width: 40% !important;
	}
	.region-container__field-value{
		width: 55% !important;
	}
}
