/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px){
	.region__container-fields{
		font-size: 13px !important;
	}
	.region-container__field-label{
		width: 40% !important;
	}
	.region-container__field-value{
		width: 55% !important;
	}
}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (orientation: portrait) {
	.region__container-fields{
		font-size: 13px !important;
	}
	.region-container__field-label{
		width: 40% !important;
	}
	.region-container__field-value{
		width: 55% !important;
	}
}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (orientation: landscape) {
	.region__container-fields{
		font-size: 13px !important;
	}
	.region-container__field-label{
		width: 40% !important;
	}
	.region-container__field-value{
		width: 55% !important;
	}
}
